.article-contianer {
  max-width: 800px;
  padding: 14px;
  margin:  auto;
  word-break: break-all;
  word-wrap: break-word;
}
.article-title {
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 70px;
  font-weight: normal;
}
.article-info {
  margin-bottom: 25px;
  font-size: 12px;
  color: #808080;
  font-weight: bold;
  span {
    margin-right: 10px;
  }
}
.article-image {
  margin-bottom: 20px;
  border: 6px solid #e8e8e8;
  border-radius: 8px;
  img {
    max-width: 100%;
  }
}

.prenext{
	width: 100%;
	padding: 18px 0 0;
	a{
		color: #444;
		.pre-btn, .next-btn {
			border-bottom: 1px solid #ccc;
			&:hove r{
        border-bottom-color: #000;
        & {
          color: #000; }
      }
		}
	}
	.prev, .next {
		width: 48%;
		padding: 0 8px;
		display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
		white-space: nowrap; }
}

/* 文章内容 */
.article-content {
  clear: both;
  // 下划线
  .line {
    margin: 5px 0;
    border-top: 1px dashed #bbb; }
  // 文字样式
  %p {
    line-height: 2;  
    letter-spacing: 1px; }
  p{
    @extend %p;
    margin:0 0 20px; }

  $leftIndent:48px;

  // 无序列表
  ol,ul {
    margin: 10px 0;
    padding: 6px 0px 6px $leftIndent;
    li {
      @extend %p;
      list-style: outside none circle; }
  }
  // 代码指令
  code {
    padding: 2px 4px;
    font-size: 13px; }
  // 代码段
  pre {
    overflow-x: auto; 
    position: relative;
    padding: 10px 20px;
    line-height: 2;
    font-size: 16px;
    span {
      display: block; }
  }
  pre, code {
    border-radius: 4px;
    border-bottom: 1px solid #ddd;
    background: #eee none repeat scroll 0 0; 
    color: #555;
    word-break: break-all; }
  // 超链接
  .a-link {
    border-bottom: 1px solid #ccc;
    color: #555;
    &:hover {
        border-bottom-color: #000;
        color: #000; }
  }
  // 左边框块
  .border-left {
    border-left:4px solid #eee;
    margin-bottom:25px;
    p {
      padding-left:$leftIndent; }
  }
  // 标题共同样式
  .part-title, .small-title {
    padding-top:10px;                
    font-weight: bold;
    line-height: 1.5;
    color: #555;
    span {
      border-bottom:1px solid #ccc;
      &:hover {
        border-bottom-color: #000;
        &{
          color: #000; }
      }
    }
  }
  // 大块标题
  .part-title {
    margin: 20px 0 10px;
    font-size: 22px; }
  // 小块标题
  .small-title {
    margin: 10px 0;
    padding-left: 20px;
    font-size: 19px;
    span {
      background-color:#eee; }
  }
  // 引用大段话
  .blockquote {  
    padding:12px;
    margin: 0 0 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color:#eee;
    p {
      margin: 0;
      text-indent: 2em; }
  }
  .more {
    a {
      padding: 6px 10px;
      border-radius: 5px;
      color: #fff; }
  }
}

