// 图片的大小样式
.img-big{
  @include img-max-size(500px, 5px, 100%);
}

.img-medium{
  @include img-max-size(400px, 5px, 100%);
}

.img-small{
  @include img-max-size(300px, 5px, 100%);
}

// 图片居中
.img-center{
  text-align: center;
  width: 100%;
}

// web-icon
.fa{
	margin-right:-7px;
}

// web-icon-link
$iconWidthMax:42px;
$iconWidthMedium:32px;
.icon-link{
	background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  font-style: normal;
  transition: all 0.2s ease-in-out 0s;
  height: $iconWidthMax;
  line-height: $iconWidthMax;
  border-radius: $iconWidthMax;
  width: $iconWidthMax;
	margin:0 0.1em;

    &:hover{
		background-color:#b3d9d9;
		color: #fff;
	}
}

@include respond-to(medium){
	.icon-link{
	    height: $iconWidthMedium;
	    line-height: $iconWidthMedium;
	    border-radius: $iconWidthMedium;
	    width: $iconWidthMedium;
	}
}	