$widthMax:900px;
$widthMedium:475px;
$widthMin:100%;

.book-container{
	background-color: #f7f1ed;
}

.book{
	height: auto;
	width: $widthMax;
	margin:0em auto;
	padding:1em 0;
	position:relative;
	clear: both;

	span{
		color:#aaa;
	}

	.section-book{
		width: ($widthMax - 50px) / 2;
		display: inline-block;
		margin: 16px 0;
		box-shadow:5px 5px 5px 5px #eee;

		.img-bg{
			height: 200px;
			overflow: hidden;
			box-shadow:1px 1px 5px #aaa;

			img{
				width: 100%;
				height: 100%;
				transition: 1s all ease;
			}
		}

		.content{
			height: auto;
			padding-bottom:1em;
			background-color: #fff;
			position:relative;

			.img-book{
				position:absolute;
				bottom:36px;
				left:25px;
				height: 140px;

				img{
					max-height: 140px;
					box-shadow:1px 5px 5px  #aaa;
					transition: 1s all ease;
				}
			}

			.class-book{
				padding: 3px 12px 3px 8px;
				position: absolute;
				right: -8px;
			    top: -13px;
			    line-height: 22px; 
			    background-color: #e76648;
			    color: #fff;
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
				border-radius:4px 0 0 4px;


			    &:after {
					content: "";
					position:absolute;
					top:28px;
					right: 0;
					border-left:0.5em solid #9B8651;
					border-bottom:0.5em solid #f7f1ed;
				}
			}

			.intro-book{
				height: 100px;
				overflow: hidden;
				margin-left: 151px;
				padding-right:10px;

				.p-book{
				    color: #9b9b9b;
				    display: -webkit-box;
				    font-size: 15px;
				    text-overflow: ellipsis;
				    padding:1px;
				 }
			}
		}

		.book-bottom{
			clear: both;
			padding: 8px;
			background-color: #fff;
			border-top:1px dotted #ddd;
			position:relative;

			.bottom-left{
				width: 50%;
				display:inline-block;
			}

			.bottom-right{
				width: 35%;
				display:inline-block;
				float: right;
			}

		}

		&:nth-child(odd){
			margin-right: 50px;
		}

		&:hover{
			opacity: 0.8;

			.img-bg{
				img{
					transform: scale3d(1.2,1.2,1.2);
				}
			}

			.img-book{
				img{
					transform: rotate(360deg);
				}
			}
		}
	}
}

@include respond-to(big){
	.book{
		width: 475px;
		overflow: hidden;

		.section-book{
			width: 475px;

			&:nth-child(odd){
				margin-right: 0px;
			}
		}
	}
}

@include respond-to(small){
	.book{
		width: 100%;

		.section-book{
			width: 100%;		

			&:hover{
				opacity: 1;

				.img-bg{
					img{
						transform: scale3d(1,1,1);
					}
				}

				.img-book{
					img{
						transform: rotate(0);
					}
				}
			}
		}
	}
}