// 设置宽高及最大宽高
@mixin widthHeightMaxWidth($width:auto, $height:auto, $maxWidth:100%, $maxHeight:100%){
	width:$width;
	height:$height;
	max-width:$maxWidth;
	max-height:$maxHeight;
}

.camrea-container{
	@include widthHeightMaxWidth(100%,auto);
	padding:1em 0 0;
	position:relative;
	clear: both;
}

.box{
	@include widthHeightMaxWidth(auto,auto,48em);
	background-color: #fff;	
	padding-bottom:0.66em;
	margin: 1em auto;
	border: 1px solid #eee;
	border-radius:2px;
	outline: none;

	.box-content{
		.content-img{
			@include widthHeightMaxWidth(auto,auto,40%); 
			padding:1em;
			cursor: pointer;
			outline: none;
		}

		.introduction{
			max-width: 60%;
			min-width: 60%;
			padding:1em;
			padding-bottom:0;
			float: left;
			color: #333;
		}

		// 点击图片后的样式
		.imgClicked{
			@include widthHeightMaxWidth(100%,auto,100%);
			padding-bottom:0;
		}

		.introClicked{
			float: none;
			max-width: 100%;
		}

		.borderClicked{
			border-left:2px solid #dfdfdf;
			padding-left:1em;
		}
	}

	.box-common{
		height: 2em;
		margin-top: 0.5em;
		width: 100%;
		padding:0 1em;
		clear: left;
		border-top:1px dotted #ddd;

		.common-span{
			color: #aaa;
			font-size: 0.875em;
			line-height: 3em;
		}
	}
	
}

@include respond-to(medium){
	.box{
		max-width: 96%;
		margin: 1em 2%;
	}
}

@include respond-to(small){
	.box{
		max-width: 100%;
		min-width:300px;
		margin: 1em 0;
		border:0px;

		.box-content{
			.content-img{
				@include widthHeightMaxWidth(100%,auto,100%);
				padding:0;
				margin: 0;
				outline: none;
			}

			.introduction{
				float: none;
				max-width: 100%;
				padding-top:0;

				.intro-p{
					border-left:3px solid #dfdfdf;
					padding-left:1em;
				}
			}
		}
	}
}