.camrea-container{
	@include widthHeightMaxWidth(100%,auto);
	padding:1em 0 0;
	position:relative;
	clear: both;
}

.camera{
	@include widthHeightMaxWidth(auto,auto,48em);
	background-color: #fff;	
	padding-bottom:0.66em;
	margin: 1em auto;
	border: 1px solid #eee;
	border-radius:2px;
	outline: none;

	.img-camera{
		@include widthHeightMaxWidth(auto,auto,40%); 
		padding:1em;
		cursor: pointer;
		outline: none;
	}

	.camera-introduction{
		max-width: 60%;
		min-width: 60%;
		padding:1em;
		padding-bottom:0;
		float: left;
		color: #333;
	}

	// 点击图片后的样式
	.imgClicked{
		@include widthHeightMaxWidth(100%,auto,100%);
		padding-bottom:0;
	}

	.introClicked{
		float: none;
		max-width: 100%;
	}

	.borderClicked{
		border-left:2px solid #dfdfdf;
		padding-left:1em;
	}

	.camera-bottom{
		height: 2em;
		margin-top: 0.5em;
		width: 100%;
		padding:0 1em;
		clear: left;
		border-top:1px dotted #ddd;

		.span{
			color: #aaa;
			font-size: 0.875em;
			line-height: 3em;
		}
	}
	
}

@include respond-to(medium){
	.camera{
		max-width: 96%;
		margin: 1em 2%;
	}
}

@include respond-to(small){
	.camera{
		max-width: 100%;
		min-width:300px;
		margin: 1em 0;
		border:0px;

		.img-camera{
			@include widthHeightMaxWidth(100%,auto,100%);
			padding:0;
			margin: 0;
			outline: none;
		}

		.camera-introduction{
			float: none;
			max-width: 100%;
			padding-top:0;

			.p-img{
				border-left:3px solid #dfdfdf;
				padding-left:1em;
			}
		}
	}
}