@import "./mixins/_respond.scss";

footer{
	padding: 0.6em 0;
	width: 100%;
	height: auto;
	background-color: rgba(21, 31, 44, 0.1);

	p{
		color: #818892;
		padding:0.25em 0;
	}
}



@include respond-to(medium){
	footer p{
		font-size: 0.8em;
	}
}