.prenext{
	width: 100%;
	padding:18px 0 0;

	a{
		color: #444;
		
		span{ 
			display: inline-block;
			border-bottom:1px solid #ccc;

			&:hover{
              border-bottom-color: #000;

              &{
                color: #000;
              }
            }
		}
	}

	.prev, .next{
		width: 48%;
		padding: 0 8px;
		box-sizing:border-box;
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
	}
}