* {
	padding: 0;
	margin: 0;
	text-decoration: none;
  box-sizing: border-box; }	
body {
	background: #fff none repeat scroll 0 0;
	color: #2f2f2f;
	font-size: 16px;
  font-family: Georgia,serif; }
li {
	list-style: none; }
footer {
	clear: both; }
a {
	word-break: break-all;
	outline: none;
	color: #4a75b5;
  &:hover {
		color: #e58c7c;
		text-decoration: underline;
	} 
}

.fa {
	margin-right: 6px;
}