*{
	padding: 0;
	margin: 0;
	text-decoration: none;
  box-sizing: border-box;
}	

a {
	outline: none;
}
body{
	background: #fff none repeat scroll 0 0;
	color: #89867e;
	font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,PingFang SC,Source Han Sans CN,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
li{
	list-style: none;
}
footer {
	clear: both;
}