$widthMax:900px;
$widthMedium:475px;
$widthMin:100%;

.book-banner{
	margin:0 auto;
	position:relative;
	overflow: hidden;
	transition: 1s all ease;

	.img-bg-block{
		height: 232px;
		width:100%;
		position:relative;

		.img-bg{
			position:absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: 1.6s all ease;
			cursor: pointer;
			border-radius: 0;
		}

		.show{
			opacity: 1;
		}
	}

	.img-slide-block{
		height: 70px;
		position:relative;

		.img-slide{
			opacity: 1;
			width: 20%;
			transition: 0.2s all ease;
		}

		.imgActive{
			transform: translateY(-12px);
		}
	}
}

@include respond-to(small){
	.img-bg-block{
		height: 200px;
	}

	.imgActive{
		transform: translateY(-6px);
	}
}