$widthMax: 16px;
$widthMedium: 10px;

$staticColor:#aaa;
$activeColor:#e2e2e2;

.back-top{
	height: 2.75 * $widthMax;
	width: 2.5 * $widthMax;
	padding: 6px 3px;
	border-radius:3px;
	position: fixed;
	bottom:50px;
	right:50px;
	background-color:#ddd;
	
	.arrow{
		width:0; 
	    height:0; 
	    @include complete-triangle($widthMax, $staticColor, border-left, border-right);
	    position:relative;
		margin: 0 auto;
	}

	.stick{
		height: $widthMax;
		background-color: $staticColor;
		width: $widthMax - 4px;
		position:relative;
		margin: 0 auto;
	}

	&:hover{
		background-color: $activeColor;
	}
}

@include respond-to(medium){
	.back-top{
		height: 3 * $widthMedium;
		width: 2.5 * $widthMedium;
		bottom:8px;
		right:8px;

		.arrow{
		    @include complete-triangle($widthMedium, $staticColor, border-left, border-right);
		}

		.stick{
			height: $widthMedium;
			width: $widthMedium - 4px;
		}
	}
}