$widthMax: 16px;
$widthMedium: 10px;
$staticColor:#aaa;
$activeColor:#e2e2e2;
$height: 38px;

/* 返回顶部 Start */
.back-top{
	position: fixed;
	bottom: 50px;
	right: 50px;
	height: 2.75 * $widthMax;
	width: 2.5 * $widthMax;
	padding: 6px 3px;
	.arrow{
		position:relative;
		width:0; 
	  height:0; 
	  margin: 0 auto;
	  @include complete-triangle($widthMax, $staticColor, border-left, border-right); }
	.stick{
		position:relative;
		height: $widthMax;
		width: $widthMax - 4px;
		margin: 0 auto;
		background-color: $staticColor; }
}

@include respond-to(medium){
	.back-top{
		height: 3 * $widthMedium;
		width: 2.5 * $widthMedium;
		bottom: 8px;
		right: 8px;
		.arrow{
		  @include complete-triangle($widthMedium, $staticColor, border-left, border-right); }
		.stick{
			height: $widthMedium;
			width: $widthMedium - 4px; }
	}
}
/* 返回顶部 End */

/* 面包屑导航 */
.crumb-nav {
	margin-bottom: 20px;
	font-size: 28px;
}
.crumb-nav-items {
	position: relative;
	display: inline-block;
	ul {
		position: absolute;
		overflow: hidden;
		height: 0;
		z-index: 100;
		width: 120px;
		top: 35px;
		transition: height .5s ease, padding .5s ease; 
		background: #fff;
		font-weight: normal;
    text-align: center;
		li {
			line-height: 40px;
			cursor: pointer;
			&:hover {
				background: #eee;
			}
			a {
				display: block;
				font-size: 20px;
				color: #4a75b5;
			}
		}
	}
	&:hover {
		ul {
			display: block;
			height: 140px;
			padding: 10px 0;
			border: 1px solid #ccc;
		}
	}
}


h1, h2, h3, h4 {
	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}
