$widthMax: 16px;
$widthMedium: 10px;
$staticColor:#aaa;
$activeColor:#e2e2e2;
$height: 38px;

header{
	background-image: url("https://img.alicdn.com/tps/TB15XU_LpXXXXbEXpXXXXXXXXXX-900-500.png");
  background-position: center 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%; }

/* 导航 Start */
.nav-container {
	position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
	width: 100%;
	background: rgba(40, 42, 44, 0.6);
  transition: all 0.5s ease;
	.fa {
		margin: 0 0.2em; }
}
.nav {
  position: relative;
	height: $height;
	padding: 0px 15px;
	margin: 0 auto;
	transition: 1s all ease; }	
.nav-ul {
  line-height: $height;
  li {
		float: left;
		cursor: pointer;
		a {
			display: block;
			padding: 0 12px;
			line-height: $height;
			font-size: 15px;
			color: #fff; }
	}
}
/* 隐藏导航 */
.hidden{
	transform: translateY(-$height); }
/* 导航 End */

/* 返回顶部 Start */
.back-top{
	position: fixed;
	bottom: 50px;
	right: 50px;
	height: 2.75 * $widthMax;
	width: 2.5 * $widthMax;
	padding: 6px 3px;
	.arrow{
		position:relative;
		width:0; 
	  height:0; 
	  margin: 0 auto;
	  @include complete-triangle($widthMax, $staticColor, border-left, border-right); }
	.stick{
		position:relative;
		height: $widthMax;
		width: $widthMax - 4px;
		margin: 0 auto;
		background-color: $staticColor; }
}

@include respond-to(medium){
	.back-top{
		height: 3 * $widthMedium;
		width: 2.5 * $widthMedium;
		bottom: 8px;
		right: 8px;
		.arrow{
		  @include complete-triangle($widthMedium, $staticColor, border-left, border-right); }
		.stick{
			height: $widthMedium;
			width: $widthMedium - 4px; }
	}
}
/* 返回顶部 End */