.home {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0) linear-gradient(to right, #003973 0%, #e5e5be 100%) repeat scroll 0 0;  
}
.home-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(97, 97, 97, 0.3);
  
}
.home-line {
  padding: 10px;
  margin-bottom: 20px;
  line-height: 24px;
  color: #eee;
  font-family: Georgia,serif;
  background: rgba(154, 154, 154, 0.5) none repeat scroll 0 0;
  border-radius: 8px;
  font-size: 18px;
  transition: .5s all ease;
  a {
    color: #eee;
    font-family: Georgia,serif;
  }
  &:hover {
    color: #000;
    background-color: #eee;
    a {
      color: #000;
    }
  }
  .fa {
    font-size: 20px;
  }
}
.home-h2, .home-h3 {
  padding: 0;
  color: #eee;
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  text-align: center;
}
.home-h3 {
  font-size: 16px;
  margin-bottom: 30px;
}

@media screen and (max-width: 550px) {
  .home-container {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .home-container {
    width: 100%;
  }
}

