.camrea-container {
	@include widthHeightMaxWidth(100%,auto);
	padding: 16px 0 0;
	position: relative;
	clear: both; 
	.camera-category-list {
		overflow: hidden;
		@include widthHeightMaxWidth(66rem, auto);
		margin: 2rem auto 0;
		padding: 1rem 1rem 3rem;
		.col-md-6 {
			padding: 0.75rem;
		}
		.camera-category {
			padding: 1rem;
			border: 1px solid #eee;
		}
		.camera-category-text {
			margin-bottom: 1rem;
			a {
				display: block;
				padding: 0 0 8px;
				font: bold 16px/1.8 Microsoft Yahei;
				color: #000;
			}
			span {
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-weight: normal;
				font-size: 12px;
			}
		}
		.camera-category-images {
			overflow: hidden;
			.camera-category-image {
				position: relative;
				z-index: 2;
				width: 9.3rem;
				height: 9.3rem;
				padding: 0;
				margin: 0 1px 1px 0;
				&:hover {
					span {
						opacity: .4;
					}
				}
				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
				span {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: #5A8DCD;
					opacity: 0;
					transition: .3s all ease;
				}
			}
		}
	}
}

.camera {
	@include widthHeightMaxWidth(auto,auto,48em);
	background-color: #fff;	
	padding-bottom: 0.66em;
	margin: 16px auto;
	border: 1px solid #eee;
	border-radius: 2px;
	outline: none;
	.img-camera {
		@include widthHeightMaxWidth(auto,auto,40%); 
		padding: 16px 16px 0 16px;
		cursor: pointer;
		outline: none; }
	.camera-introduction {
		max-width: 60%;
		min-width: 60%;
		padding: 6px 16px;
		padding-bottom: 0;
		float: left;
		color: #333; }
	/* 点击图片后的样式 */
	.imgClicked {
		@include widthHeightMaxWidth(100%,auto,100%);
		padding-bottom: 0; }
	.introClicked {
		float: none;
		max-width: 100%; }
	.borderClicked {
		border-left: 2px solid #dfdfdf;
		padding-left: 16px; }
	.camera-bottom {
		height: 24px;
		width: 100%;
		padding: 0 16px;
		margin-top: 8px;
		clear: left;
		border-top: 1px dotted #ddd;
		.span{
			line-height: 40px;
			color: #aaa;
			font-size: 14px; }
	}
}

@include respond-to(medium){
	.camrea-container .camera-category-list {
    padding: 0;
	}
	.camera{
		max-width: 96%;
		margin: 16px 2%;
	}
}

@include respond-to(small){
	.camera {
		max-width: 100%;
		min-width: 300px;
		margin: 16px 0;
		border: 0px;
		.img-camera {
			@include widthHeightMaxWidth(100%,auto,100%);
			padding:0;
			margin: 0;
			outline: none; }
		.camera-introduction {
			float: none;
			max-width: 100%;
			padding-top: 0;
			.p-img{
				border-left: 3px solid #dfdfdf;
				padding-left: 16px; }
		}
	}
}