.camrea-container {
	position: relative;
	max-width: 660px;
	padding: 16px 0 0;
	margin: 0 auto;
	clear: both; 
	.camera-nav-item {
		display: inline-block;
		border-bottom: 1px solid #aaa;
		transition: transform 1s ease;
		&:hover {
			transform: translateY(-4px);
		}
		a {
			display: block;
			padding: 12px 28px;
			color: #000;
		}
		.camera-nav-album {
			color: #5C5C5C;
		}
		.camera-nav-travel {
			color: #C15F3D;
		}
		.camera-nav-category {
			color: #155E39;
		}
	}
	.camera-category-list {
		overflow: hidden;
		margin: 0 auto;
		padding: 1rem 1rem 3rem;
		.camera-category-text {
			padding: 1rem 1rem 0;
			margin-bottom: 1rem;
			a {
				padding: 0 0 8px;
				font-weight: bold;
				color: #000;
			}
			span {
				overflow: hidden;
				padding-left: 12px;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-weight: normal;
				font-size: 12px;
			}
		}
		.camera-category-images {
			padding: 0 1rem 1rem;
			.camera-category-image {
				display: inline-block;
				position: relative;
				z-index: 2;
				width: 9.3rem;
				height: 9.3rem;
				padding: 0;
				margin: 0 1px 1px 0;
				&:hover {
					span {
						opacity: .4;
					}
				}
				img {
					display: block;
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
				span {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: #5A8DCD;
					opacity: 0;
					transition: .3s all ease;
				}
			}
		}
	}
}
.camera {
	@include widthHeightMaxWidth(auto,auto,48em);
	background-color: #fff;	
	padding-bottom: 0.66em;
	margin: 16px auto;
	border: 1px solid #eee;
	border-radius: 2px;
	outline: none;
	.img-camera {
		@include widthHeightMaxWidth(auto,auto,40%); 
		padding: 16px 16px 0 16px;
		object-fit: cover;
		cursor: pointer;
		outline: none; }
	.camera-introduction {
		h4 {
			padding-bottom: 12px;
		}
		max-width: 60%;
		min-width: 60%;
		padding: 16px 16px;
		padding-bottom: 0;
		float: left;
		color: #333; }
	/* 点击图片后的样式 */
	.imgClicked {
		@include widthHeightMaxWidth(100%,auto,100%);
		padding-bottom: 0; }
	.introClicked {
		float: none;
		max-width: 100%; }
	.borderClicked {
		border-left: 2px solid #dfdfdf;
		padding-left: 16px; }
	.camera-bottom {
		height: 20px;
		width: 100%;
		padding: 0 16px;
		margin-top: 8px;
		clear: left;
		border-top: 1px dotted #ddd;
		.span{
			line-height: 32px;
			color: #aaa;
			font-size: 14px; }
	}
}

@include respond-to(medium){
	.camrea-container .camera-category-list {
		padding: 0;
		.camera-category {
			border: none;
		}	
	}
	.camera{
		max-width: 96%;
		margin: 16px 2%;
	}
}

@include respond-to(small){
	.camera {
		max-width: 100%;
		margin: 16px 0;
		border: 0px;
		.img-camera {
			@include widthHeightMaxWidth(100%,auto,100%);
			padding:0;
			margin: 0;
			outline: none; }
		.camera-introduction {
			float: none;
			max-width: 100%;
			padding-top: 0;
			.p-img {
				border-left: 3px solid #dfdfdf;
				padding-left: 16px; }
		}
	}
}

@media (max-width: 548px) {
	.camrea-container .camera-category-list .camera-category-images {
		padding: 0;
		.camera-category-image {
			width: 33%;
			height: 33vw;
		}
	}
}