.row::after{
	clear: both;
	content: " ";
   display: table;
}

.col-md-1-2 {
	width: 4.16%;
	float: left;
	position: relative;
}

.col-md-1 {
	width: 8.33%;
	float: left;
	position: relative;
}

.col-md-3 {
	width: 25%;
	float: left;
	position: relative;
}

.col-md-4 {
	width: 33.3%;
	float: left;
	position: relative;
	padding: 10px; 
}

@include respond-element('.col-md-4', width, 33.3%, 50%, 100%);

.col-md-6 {
	position: relative;
	float: left;
	width: 50%;
}

.col-md-9 {
	width: 75%;
	float: left;
	position: relative;
}

.col-md-11 {
	width: 91.3%;
	float: left;
	position: relative;
}

.col-md-11-2 {
	width: 95.84%;
	float: left;
	position: relative;
}