.title a, a.title{
	color: #555;
}

article p a{
	text-decoration:underline;
	color:#555;
}

.p-small, .fa{
	font-size:14px;
}

// 文字对齐方式
.text-center{ text-align: center; display: block; }
.text-left{ text-align: left; }
.text-right{ text-align: right; }

// 文字下划线
.text-underline{ text-decoration: underline;}