.title a, a.title{
	color: #555;
}

article p a{
	text-decoration:underline;
	color:#555;
}

.p-small, .fa{
	font-size:14px;
}

li, span, p{
	font-size: 16px;
	color: #555;
	text-overflow: ellipsis;
	word-break: break-all;
	font-family: consolas,Menlo,"PingFang SC","Microsoft YaHei",monospace;
}

h1, h1>span, .h1 { font-size: 36px; }
h2, h2>span, .h2 { font-size: 30px; }
h3, h3>span, .h3 { font-size: 24px; }
h4, h4>span, .h4 { font-size: 18px; }
h5, h5>span, .h5 { font-size: 14px; }
h6, h6>span, .h6 { font-size: 12px; }


@include respond-to(medium){
	li, span, p{
		font-size: 14px;
	}

	h1, h1>span, .h1 { font-size: 34px; }
	h2, h2>span, .h2 { font-size: 26px; }
	h3, h3>span, .h3 { font-size: 22px; }
	h4, h4>span, .h4 { font-size: 16px; }
	h5, h5>span, .h5 { font-size: 14px; }
	h6, h6>span, .h6 { font-size: 12px; }

	.p-small, .fa{
		font-size:12px;
	}
}

@include respond-to(small){
	li, span, p{
		font-size: 13px;
	}

	h1, h1>span, .h1 { font-size: 28px; }
	h2, h2>span, .h2 { font-size: 24px; }
	h3, h3>span, .h3 { font-size: 20px; }
	h4, h4>span, .h4 { font-size: 16px; }
	h5, h5>span, .h5 { font-size: 14px; }
	h6, h6>span, .h6 { font-size: 12px; }

	.p-small, .fa{
		font-size:10px;
	}
}


// 文字对齐方式
.text-center{ text-align: center; display: block; }
.text-left{ text-align: left; }
.text-right{ text-align: right; }

// 文字下划线
.text-underline{ text-decoration: underline;}


$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

// Headeing

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Palatino,Garamond,Times,Georgia,serif;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  padding-top: $line-height-computed;
  padding-bottom: ($line-height-computed / 2);
}
h4, .h4,
h5, .h5,
h6, .h6 {
  padding-top: ($line-height-computed / 2);
  padding-bottom: ($line-height-computed / 2);
}

